.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
}
.search-form {
  margin-left: auto;
  margin-right: 3rem;
  width: 300px;
  max-width: 60%;
}
.main {
  padding: 1rem;
}
.secondary {
  padding: 1rem;
}
.secondary-a {
  background: white;
}
.secondary-b {
  color: white;
  background: gray;
}
.footer {
  padding: 1rem;
  text-align: center;
}
.modal {
  display: none;
  top: 80px;
}
#modal-switch:checked ~ .modal {
  display: flex;
}
label[for="modal-switch"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
}
label[for="modal-switch"]:before {
  content: "★";
  font-size: 2rem;
}
#modal-switch:checked ~ label[for="modal-switch"]:before {
  color: dodgerblue;
}
#modal-switch,
label[for="modal-switch"] span {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.dialog {
  text-align: center;
}

@media (min-width: 1024px) {
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  .header {
    width: 100%;
  }
  .menu {
    width: 100%;
  }
  .secondary {
    width: 20%;
  }
  .secondary-a {
    order: 1;
  }
  .secondary-b {
    order: 3;
  }
  .main {
    width: 60%;
    order: 2;
  }
  .footer {
    order: 4;
  }
}

@media (min-width: 1400px) {
  .main {
    width: calc(100% - 600px);
  }
  .secondary {
    width: 300px;
  }
}
